/********* FLEXBOX ***********/
/* 
    Es una caracteristica de CSS que nos permite distribuir contenedor a lo largo y ancho de los ejes cartesianos
    del navegador. La distribucion se realiza de forma bidimensional.

    Declaramos un CONTENEDOR como FLEXIBLE lo cual nos permite jugar con sus hijos y distribuirlos dentro de ese
    contenedor a nuestro placer.

    Esto es posible gracias al valor FLEX de la propiedad DISPLAY. 
*/


/********** UTILITIES *********/
.center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/********** PAGE STYLES *******/
* {
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 500px;
    background-color: aqua;

    & .box {
        width: 100px;
        height: 100px;
        background-color: orange;
        border: 1px solid black;
    }

    & .dos {
        align-self: start;
    }
    & .tres {
        align-self: end;
    }
}

/***** TAREA ****/
/* 
    Investigar las siguientes propiedades:
    1. justify-sef
    2. flex-grow
    3. flex-shirnk
    4. flex-basis
*/

  






