
.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}

.card {
    width: 175px;
    min-width: 175px;
    color: white;
    border: 2px solid black;
    text-shadow: 1px 1px 1px black;

    & img {
        width: 100%;
    }
    & p, h2 {
        text-align: center;
    }
    & p {
        width: 90%;
        text-transform: ju;
    }
}